{# src/Ninfac/ContaBundle/Resources/views/Default/index.html.twig #}
{% extends "layout.html.twig" %}
{% block head %}
	<title>{{ app.session.get('empresaOrigen') }} - {{app.session.get('anioId')}}</title>
{% endblock %}
{% block content %}
	 {% block body %}
		 {{ parent() }}
    {% endblock %}
{% endblock %}
