{# src/Ninfac/ContaBundle/Resources/views/Default/index.html.twig #}
{% extends "layout.html.twig" %}
{% block head %}
    <title>{{ app.session.get('empresaNombre') }}</title>
{% endblock %}
{% block content %}
    {% block body %}
        {{ parent() }}
        <div class="alert alert-warning fade in radius-bordered alert-shadowed">
         <span class="badge badge-success graded">
                0
            </span>
            <strong>{{ mensaje }}</strong>
        </div>
    {% endblock %}
{% endblock %}
