<div class="panel panel-primary box box-info center-block" style="width: {{ with }};">
    <div class="panel-heading box-header with-border">
        <text class="box-title"><span class="{{ icon }}"></span> {{ titulo }}</text>
    </div>
    <form action="" class="form-horizontal" method="post">
        <div class="panel-body box-body">
